nav
    background-color: #141E61
    height: 60px
    display: flex
    align-items: center
    justify-content: right
    padding: 0px 200px 0px 0px
    width: 100wh
    ul
        list-style: none
        display: flex
        li
            padding: 0px 10px
            a
                text-decoration: none
                color: #EEEEEE
                font-size: 20px

@media screen and (max-width:450px)
    nav
        padding: 0px 100px
        justify-content: center
        ul
            li
                a
                    font-size: 12px
        
