.temperaturebox
    box-sizing: border-box
    width: 100%
    height: 100%
    svg
        width: 100%
        height: 100%
        circle
            fill: white
        text
            font-size: 8px
            fill: white
        polyline
            stroke: white
            fill: none