.temperaturebox
    cursor: pointer
    box-sizing: border-box
    width: 100%
    height: auto
    svg
        width: 600px
        height: 240px
        circle
            fill: white
            opacity: 0
            transition: 0.5s
        text
            font-size: 12px
            opacity: 0
            fill: white
        polyline
            stroke: white
            opacity: 0
            fill: none 

@media screen and (max-width:1180px)
    .temperaturebox
        svg
            width: 400px
            height: 200px

        