.temperaturebox
    box-sizing: border-box
    width: 100%
    height: 100%
    svg
        width: 400px
        height: 150px
        display: block
        circle
            fill: white
            opacity: 0
            transition: 0.5s
        text
            font-size: 8px
            opacity: 0
            fill: white
        polyline
            stroke: white
            opacity: 0
            fill: none

        