html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weatherArea {
  width: auto;
  display: flex;
}

.about {
  padding: 50px 10px;
  width: 100%;
  height: 70vh;
  background-color: #0F044C;
  color: #fff;
}
.about h1 {
  text-align: center;
}
.about h3 {
  text-align: center;
}

.nopages {
  width: 100%;
  height: 85vh;
  background-color: #0F044C;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nopages h1 {
  text-align: center;
  font-size: 50px;
  margin: 0;
  margin-bottom: 10px;
}
.nopages p {
  text-align: center;
  font-size: 36px;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .about h1 {
    font-size: 22px;
    padding: 0px 10px;
  }
  .about h3 {
    font-size: 12px;
    padding: 0px 20px;
  }
}
.footerbar {
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #141E61;
}
.footerbar p {
  text-align: center;
  font-size: 16px;
  color: #EEEEEE;
}

nav {
  background-color: #141E61;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0px 100px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  padding: 0px 10px;
}
nav ul li a {
  text-decoration: none;
  color: #EEEEEE;
  font-size: 20px;
}

@media screen and (max-width: 450px) {
  nav {
    padding: 0px 20px;
    justify-content: center;
  }
  nav ul li a {
    font-size: 16px;
  }
}
.weatherbg {
  background-color: black;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.weatherbg .weatherbox {
  border-radius: 15px;
  display: flex;
  position: relative;
  background-color: #0F044C;
  box-sizing: border-box;
  width: auto;
  height: auto;
}
.weatherbg .weatherbox .arrow {
  border-left: 10px solid #fff;
  border-top: 8px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 8px solid rgba(0, 0, 0, 0);
  position: absolute;
  right: 20px;
  top: 220px;
}
.weatherbg .weatherbox .left {
  width: 550px;
  display: flex;
  flex-direction: column;
}
.weatherbg .weatherbox .left .top-in-left {
  width: 100%;
  flex: 1 1 75%;
  display: flex;
}
.weatherbg .weatherbox .left .top-in-left .left-in-lefttop {
  flex: 1 1 40%;
  padding: 60px 0 0 70px;
  color: #EEEEEE;
}
.weatherbg .weatherbox .left .top-in-left .left-in-lefttop .temperature {
  font-size: 70px;
  padding: 0;
  margin: 0;
}
.weatherbg .weatherbox .left .top-in-left .left-in-lefttop .city {
  font-size: 20px;
  padding: 5px 0 5px 10px;
  margin: 0;
}
.weatherbg .weatherbox .left .top-in-left .left-in-lefttop .date {
  font-size: 16px;
  padding: 0 0 5px 10px;
  margin: 0;
}
.weatherbg .weatherbox .left .top-in-left .left-in-lefttop .precipitation {
  font-size: 16px;
  padding: 0 0 0 10px;
  margin: 0;
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox {
  width: 180px;
  height: 180px;
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .cloud-in-weather {
  transform: scale(1.2) translateY(30px);
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .nightcloud-in-weather {
  transform: scale(1.2) translateY(30px);
  opacity: 0.9;
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .nightcloud-in-weather .circle {
  background: #BEBEBE;
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .rain-in-weather {
  transform: scale(1.2) translateY(30px);
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .nightrain-in-weather {
  transform: scale(1.2) translateY(30px);
  opacity: 0.9;
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .nightrain-in-weather .circle {
  background: #BEBEBE;
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .suncloud-in-weather {
  transform: scale(1.4) translate(-10px, 40px);
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .sun-in-weather {
  transform: scale(1.6) translate(-10px, 90px);
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .thunderrain-in-weather {
  transform: scale(1.5) translateY(30px);
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .thundersun-in-weather {
  transform: scale(1.6) translate(-20px, 30px);
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .moon-in-weather {
  transform: scale(1.5) translate(-10px, 10px);
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .mooncloud-in-weather {
  transform: scale(1.2) translate(0px, -20px);
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .moonrain-in-weather {
  transform: scale(1.2) translate(0px, -20px);
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .thundermoon-in-weather {
  transform: scale(1.2) translate(0px, -20px);
  opacity: 0.9;
}
.weatherbg .weatherbox .left .top-in-left .right-in-lefttop .overview {
  color: #EEEEEE;
  font-size: 12px;
  transform: translateY(-20px);
}
.weatherbg .weatherbox .left .bottom-in-left {
  width: 100%;
  flex: 1 1 25%;
}
.weatherbg .weatherbox .left .bottom-in-left .tip {
  color: #EEEEEE;
  font-size: 16px;
  padding: 0px 80px;
  margin: 0;
}
.weatherbg .weatherbox .right {
  box-sizing: border-box;
  border-left: 8px solid rgb(240, 240, 228);
  width: 10px;
  overflow: hidden;
  transition-duration: 2s;
}
.weatherbg .weatherbox .right label {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.weatherbg .weatherbox .right label input {
  display: none;
}
.weatherbg .weatherbox .right label input:checked ~ .topbox, .weatherbg .weatherbox .right label input:checked ~ .bottombox {
  opacity: 0;
  transition-duration: 2s;
}
.weatherbg .weatherbox .right label input:checked ~ .wholebox {
  opacity: 1;
  transition-duration: 2s;
}
.weatherbg .weatherbox .right label input:not(:checked) ~ .topbox, .weatherbg .weatherbox .right label input:not(:checked) ~ .bottombox {
  opacity: 1;
  transition-duration: 2s;
}
.weatherbg .weatherbox .right label input:not(:checked) ~ .wholebox {
  opacity: 0;
  transition-duration: 2s;
}
.weatherbg .weatherbox .right label .wholebox {
  box-sizing: border-box;
  width: 100%;
  height: 440px;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
}
.weatherbg .weatherbox .right label .wholebox h6 {
  color: #fff;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50px;
  top: 50px;
  opacity: 0;
  transition-duration: 3s;
  white-space: nowrap;
}
.weatherbg .weatherbox .right label .topbox {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  position: relative;
}
.weatherbg .weatherbox .right label .topbox h6 {
  color: #fff;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50px;
  top: 50px;
  opacity: 0;
  transition-duration: 3s;
  white-space: nowrap;
}
.weatherbg .weatherbox .right label .bottombox {
  width: auto;
  height: auto;
  position: relative;
}
.weatherbg .weatherbox .right label .bottombox h6 {
  color: #fff;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50px;
  top: 5px;
  opacity: 0;
  transition-duration: 3s;
  white-space: nowrap;
}
.weatherbg .weatherbox .right:hover {
  width: 600px;
  border-left: 8px solid rgba(240, 240, 228, 0);
  transition-duration: 2s;
}
.weatherbg .weatherbox .right:hover .topbox h6 {
  opacity: 1;
}
.weatherbg .weatherbox .right:hover .topbox svg circle {
  opacity: 1;
}
.weatherbg .weatherbox .right:hover .topbox svg circle:nth-child(1) {
  transition-delay: 0.2s;
}
.weatherbg .weatherbox .right:hover .topbox svg circle:nth-child(3) {
  transition-delay: 0.4s;
}
.weatherbg .weatherbox .right:hover .topbox svg circle:nth-child(5) {
  transition-delay: 0.6s;
}
.weatherbg .weatherbox .right:hover .topbox svg circle:nth-child(7) {
  transition-delay: 0.8s;
}
.weatherbg .weatherbox .right:hover .topbox svg circle:nth-child(9) {
  transition-delay: 1s;
}
.weatherbg .weatherbox .right:hover .topbox svg circle:nth-child(11) {
  transition-delay: 1.2s;
}
.weatherbg .weatherbox .right:hover .topbox svg circle:nth-child(13) {
  transition-delay: 1.4s;
}
.weatherbg .weatherbox .right:hover .topbox svg text {
  opacity: 1;
}
.weatherbg .weatherbox .right:hover .topbox svg text:nth-child(2) {
  transition-delay: 0.2s;
}
.weatherbg .weatherbox .right:hover .topbox svg text:nth-child(4) {
  transition-delay: 0.4s;
}
.weatherbg .weatherbox .right:hover .topbox svg text:nth-child(6) {
  transition-delay: 0.6s;
}
.weatherbg .weatherbox .right:hover .topbox svg text:nth-child(8) {
  transition-delay: 0.8s;
}
.weatherbg .weatherbox .right:hover .topbox svg text:nth-child(10) {
  transition-delay: 1s;
}
.weatherbg .weatherbox .right:hover .topbox svg text:nth-child(12) {
  transition-delay: 1.2s;
}
.weatherbg .weatherbox .right:hover .topbox svg text:nth-child(14) {
  transition-delay: 1.4s;
}
.weatherbg .weatherbox .right:hover .topbox svg polyline {
  transition-duration: 4s;
  opacity: 1;
}
.weatherbg .weatherbox .right:hover .bottombox h6 {
  opacity: 1;
}
.weatherbg .weatherbox .right:hover .bottombox .dayweather {
  opacity: 1;
}
.weatherbg .weatherbox .right:hover .bottombox .dayweather:nth-child(1) {
  transition-delay: 0.2s;
}
.weatherbg .weatherbox .right:hover .bottombox .dayweather:nth-child(2) {
  transition-delay: 0.4s;
}
.weatherbg .weatherbox .right:hover .bottombox .dayweather:nth-child(3) {
  transition-delay: 0.6s;
}
.weatherbg .weatherbox .right:hover .bottombox .dayweather:nth-child(4) {
  transition-delay: 0.8s;
}
.weatherbg .weatherbox .right:hover .bottombox .dayweather:nth-child(5) {
  transition-delay: 1s;
}
.weatherbg .weatherbox .right:hover .bottombox .dayweather:nth-child(6) {
  transition-delay: 1.2s;
}
.weatherbg .weatherbox .right:hover .bottombox .dayweather:nth-child(7) {
  transition-delay: 1.4s;
}
.weatherbg .weatherbox .right:hover .wholebox h6 {
  opacity: 1;
}
.weatherbg .weatherbox .right:hover .wholebox .dayuvindex {
  opacity: 1;
}
.weatherbg .weatherbox .right:hover .wholebox .dayuvindex:nth-child(1) {
  transition-delay: 0.2s;
}
.weatherbg .weatherbox .right:hover .wholebox .dayuvindex:nth-child(2) {
  transition-delay: 0.4s;
}
.weatherbg .weatherbox .right:hover .wholebox .dayuvindex:nth-child(3) {
  transition-delay: 0.6s;
}
.weatherbg .weatherbox .right:hover .wholebox .dayuvindex:nth-child(4) {
  transition-delay: 0.8s;
}
.weatherbg .weatherbox .right:hover .wholebox .dayuvindex:nth-child(5) {
  transition-delay: 1s;
}
.weatherbg .weatherbox .right:hover .wholebox .dayuvindex:nth-child(6) {
  transition-delay: 1.2s;
}
.weatherbg .weatherbox .right:hover .wholebox .dayuvindex:nth-child(7) {
  transition-delay: 1.4s;
}
.weatherbg .weatherbox .right:hover .wholebox td {
  opacity: 1;
}
.weatherbg .weatherbox .right:hover .wholebox td:nth-child(1) {
  transition-delay: 0.2s;
}
.weatherbg .weatherbox .right:hover .wholebox td:nth-child(2) {
  transition-delay: 0.4s;
}
.weatherbg .weatherbox .right:hover .wholebox td:nth-child(3) {
  transition-delay: 0.6s;
}
.weatherbg .weatherbox .right:hover .wholebox td:nth-child(4) {
  transition-delay: 0.8s;
}
.weatherbg .weatherbox .right:hover .wholebox td:nth-child(5) {
  transition-delay: 1s;
}
.weatherbg .weatherbox .right:hover ~ .arrow {
  animation: arrowgo 3s forwards;
}
.weatherbg .weatherbox .right:not(:hover) {
  transition-duration: 4s;
}
.weatherbg .weatherbox .right:not(:hover) .topbox h6 {
  opacity: 0;
  transition-duration: 5s;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg circle {
  opacity: 0;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg circle:nth-child(13) {
  transition-delay: 0.2s;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg circle:nth-child(11) {
  transition-delay: 0.4s;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg circle:nth-child(9) {
  transition-delay: 0.6s;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg circle:nth-child(7) {
  transition-delay: 0.8s;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg circle:nth-child(5) {
  transition-delay: 1s;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg circle:nth-child(3) {
  transition-delay: 1.2s;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg circle:nth-child(1) {
  transition-delay: 1.4s;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg text {
  opacity: 0;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg text:nth-child(14) {
  transition-delay: 0.2s;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg text:nth-child(12) {
  transition-delay: 0.4s;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg text:nth-child(10) {
  transition-delay: 0.6s;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg text:nth-child(8) {
  transition-delay: 0.8s;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg text:nth-child(6) {
  transition-delay: 1s;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg text:nth-child(4) {
  transition-delay: 1.2s;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg text:nth-child(2) {
  transition-delay: 1.4s;
}
.weatherbg .weatherbox .right:not(:hover) .topbox svg polyline {
  transition-duration: 4s;
  opacity: 0;
}
.weatherbg .weatherbox .right:not(:hover) .bottombox h6 {
  opacity: 0;
  transition-duration: 5s;
}
.weatherbg .weatherbox .right:not(:hover) .bottombox .dayweather {
  opacity: 0;
}
.weatherbg .weatherbox .right:not(:hover) .bottombox .dayweather:nth-child(7) {
  transition-delay: 0.2s;
}
.weatherbg .weatherbox .right:not(:hover) .bottombox .dayweather:nth-child(6) {
  transition-delay: 0.4s;
}
.weatherbg .weatherbox .right:not(:hover) .bottombox .dayweather:nth-child(5) {
  transition-delay: 0.6s;
}
.weatherbg .weatherbox .right:not(:hover) .bottombox .dayweather:nth-child(4) {
  transition-delay: 0.8s;
}
.weatherbg .weatherbox .right:not(:hover) .bottombox .dayweather:nth-child(3) {
  transition-delay: 1s;
}
.weatherbg .weatherbox .right:not(:hover) .bottombox .dayweather:nth-child(2) {
  transition-delay: 1.2s;
}
.weatherbg .weatherbox .right:not(:hover) .bottombox .dayweather:nth-child(1) {
  transition-delay: 1.4s;
}
.weatherbg .weatherbox .right:not(:hover) .wholebox h6 {
  opacity: 0;
  transition-duration: 5s;
}
.weatherbg .weatherbox .right:not(:hover) .wholebox .dayuvindex {
  opacity: 0;
}
.weatherbg .weatherbox .right:not(:hover) .wholebox .dayuvindex:nth-child(7) {
  transition-delay: 0.2s;
}
.weatherbg .weatherbox .right:not(:hover) .wholebox .dayuvindex:nth-child(6) {
  transition-delay: 0.4s;
}
.weatherbg .weatherbox .right:not(:hover) .wholebox .dayuvindex:nth-child(5) {
  transition-delay: 0.6s;
}
.weatherbg .weatherbox .right:not(:hover) .wholebox .dayuvindex:nth-child(4) {
  transition-delay: 0.8s;
}
.weatherbg .weatherbox .right:not(:hover) .wholebox .dayuvindex:nth-child(3) {
  transition-delay: 1s;
}
.weatherbg .weatherbox .right:not(:hover) .wholebox .dayuvindex:nth-child(2) {
  transition-delay: 1.2s;
}
.weatherbg .weatherbox .right:not(:hover) .wholebox .dayuvindex:nth-child(1) {
  transition-delay: 1.4s;
}
.weatherbg .weatherbox .right:not(:hover) .wholebox td {
  opacity: 0;
}
.weatherbg .weatherbox .right:not(:hover) .wholebox td:nth-child(5) {
  transition-delay: 0.2s;
}
.weatherbg .weatherbox .right:not(:hover) .wholebox td:nth-child(4) {
  transition-delay: 0.4s;
}
.weatherbg .weatherbox .right:not(:hover) .wholebox td:nth-child(3) {
  transition-delay: 0.6s;
}
.weatherbg .weatherbox .right:not(:hover) .wholebox td:nth-child(2) {
  transition-delay: 0.8s;
}
.weatherbg .weatherbox .right:not(:hover) .wholebox td:nth-child(1) {
  transition-delay: 1s;
}
.weatherbg .weatherbox .right:not(:hover) ~ .arrow {
  animation: arrowback 5s forwards;
}

@media screen and (max-width: 1180px) {
  .weatherbg .weatherbox {
    height: 400px;
  }
  .weatherbg .weatherbox .arrow {
    top: 200px;
  }
  .weatherbg .weatherbox .left {
    width: 400px;
  }
  .weatherbg .weatherbox .left .top-in-left .left-in-lefttop {
    padding: 60px 0 0 40px;
  }
  .weatherbg .weatherbox .left .top-in-left .left-in-lefttop .temperature {
    font-size: 56px;
  }
  .weatherbg .weatherbox .left .top-in-left .left-in-lefttop .city {
    font-size: 18px;
  }
  .weatherbg .weatherbox .left .top-in-left .left-in-lefttop .date {
    font-size: 14px;
  }
  .weatherbg .weatherbox .left .top-in-left .left-in-lefttop .precipitation {
    font-size: 14px;
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox {
    transform: scale(1) translateY(30px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .nightcloud-in-weather {
    transform: scale(1) translateY(30px);
    opacity: 0.9;
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .nightcloud-in-weather .circle {
    background: #BEBEBE;
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .rain-in-weather {
    transform: scale(1) translateY(30px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .nightrain-in-weather {
    transform: scale(1) translateY(30px);
    opacity: 0.9;
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .nightrain-in-weather .circle {
    background: #BEBEBE;
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .suncloud-in-weather {
    transform: scale(1.2) translate(0px, 30px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .sun-in-weather {
    transform: scale(1.4) translate(0px, 70px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .thunderrain-in-weather {
    transform: scale(1.3) translateY(10px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .thundersun-in-weather {
    transform: scale(1.4) translate(-10px, 10px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .moon-in-weather {
    transform: scale(1.3) translate(0px, 0px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .mooncloud-in-weather {
    transform: scale(1) translate(0px, -50px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .moonrain-in-weather {
    transform: scale(1) translate(0px, -50px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .thundermoon-in-weather {
    transform: scale(1) translate(0px, -50px);
    opacity: 0.9;
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .overview {
    transform: translateY(-50px);
  }
  .weatherbg .weatherbox .left .bottom-in-left .tip {
    padding: 0px 40px;
    font-size: 12px;
  }
  .weatherbg .weatherbox .right:hover {
    width: 400px;
  }
}
@media screen and (max-width: 800px) {
  .weatherbg {
    height: 100%;
    padding: 50px 0px 100px 0px;
  }
  .weatherbg .weatherbox {
    flex-direction: column;
    width: 360px;
    height: auto;
  }
  .weatherbg .weatherbox .arrow {
    display: none;
  }
  .weatherbg .weatherbox .left {
    width: 360px;
    height: 400px;
  }
  .weatherbg .weatherbox .left .top-in-left .left-in-lefttop {
    padding: 60px 0 0 40px;
  }
  .weatherbg .weatherbox .left .top-in-left .left-in-lefttop .temperature {
    font-size: 56px;
  }
  .weatherbg .weatherbox .left .top-in-left .left-in-lefttop .city {
    font-size: 18px;
  }
  .weatherbg .weatherbox .left .top-in-left .left-in-lefttop .date {
    font-size: 14px;
  }
  .weatherbg .weatherbox .left .top-in-left .left-in-lefttop .precipitation {
    font-size: 14px;
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox {
    transform: scale(1) translateY(30px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .nightcloud-in-weather {
    transform: scale(1) translateY(30px);
    opacity: 0.9;
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .nightcloud-in-weather .circle {
    background: #BEBEBE;
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .rain-in-weather {
    transform: scale(1) translateY(30px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .nightrain-in-weather {
    transform: scale(1) translateY(30px);
    opacity: 0.9;
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .nightrain-in-weather .circle {
    background: #BEBEBE;
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .suncloud-in-weather {
    transform: scale(1.2) translate(0px, 30px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .sun-in-weather {
    transform: scale(1.4) translate(0px, 70px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .thunderrain-in-weather {
    transform: scale(1.3) translateY(10px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .thundersun-in-weather {
    transform: scale(1.4) translate(-10px, 10px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .moon-in-weather {
    transform: scale(1.3) translate(0px, 0px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .mooncloud-in-weather {
    transform: scale(1) translate(0px, -50px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .moonrain-in-weather {
    transform: scale(1) translate(0px, -50px);
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .iconbox .thundermoon-in-weather {
    transform: scale(1) translate(0px, -50px);
    opacity: 0.9;
  }
  .weatherbg .weatherbox .left .top-in-left .right-in-lefttop .overview {
    transform: translateY(-50px);
  }
  .weatherbg .weatherbox .left .bottom-in-left .tip {
    padding: 0px 40px;
    font-size: 12px;
  }
  .weatherbg .weatherbox .right {
    width: 360px;
    border-left: none;
    border-top: 8px solid rgb(240, 240, 228);
    height: 10px;
  }
  .weatherbg .weatherbox .right:hover {
    height: 400px;
    border-top: 8px solid rgba(240, 240, 228, 0);
    transition-duration: 2s;
  }
}
@keyframes arrowgo {
  100% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
}
@keyframes arrowback {
  0% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
.optbg {
  background-color: black;
  padding: 20px;
  color: #EEEEEE;
  text-align: center;
}
.optbg label {
  font-size: 20px;
  margin-right: 10px;
}
.optbg select {
  font-size: 19px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0px 5px;
  background-color: black;
  color: white;
}

@media screen and (max-width: 500px) {
  .optbg label {
    font-size: 16px;
  }
  .optbg select {
    font-size: 15px;
  }
}
.cloudbox {
  position: relative;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
}
.cloudbox .circle {
  animation: cloudrift 4s infinite;
}
.cloudbox .circle1 {
  width: 90px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 40%;
  border-radius: 20px;
}
.cloudbox .circle2 {
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  left: 10%;
  top: 20%;
  border-radius: 50%;
}
.cloudbox .circle3 {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  left: 40%;
  top: 30%;
  border-radius: 50%;
}

@keyframes cloudrift {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.rainbox {
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  position: relative;
}
.rainbox .rain {
  width: 2px;
  height: 10px;
  background-color: #fff;
  z-index: -3;
  background-color: #adabab;
  animation: raindrop 1s infinite;
  position: absolute;
}
.rainbox .rain1 {
  left: 35%;
  bottom: 25%;
  animation-delay: -0.1s;
}
.rainbox .rain2 {
  left: 45%;
  bottom: 25%;
  animation-delay: -0.4s;
}
.rainbox .rain3 {
  left: 55%;
  bottom: 25%;
  animation-delay: -0.7s;
}

@keyframes raindrop {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(40px);
    opacity: 0;
  }
}
.suncloudbox {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 100px;
  height: 100px;
}
.suncloudbox .suncloudcircle {
  animation: light 5s infinite;
  animation-delay: 0.2s;
  transition-duration: 0.5s;
  fill: #FFD633;
  stroke-width: 20px;
  stroke-dasharray: 0.5%;
  stroke: rgba(232, 236, 139, 0.8);
}
.suncloudbox .cloud-in-sun {
  position: absolute;
  top: 10px;
  left: 10px;
  transform: scale(0.8);
}

@keyframes light {
  0% {
    fill: #FFD633;
    stroke-width: 18px;
    stroke-dasharray: 0.5%;
    stroke: rgba(232, 236, 139, 0.8);
  }
  25% {
    fill: #f5ff33;
    stroke-width: 20px;
    stroke-dasharray: 0.5%;
    stroke: rgba(241, 244, 180, 0.8);
  }
  50% {
    fill: #FFD633;
    stroke-width: 18px;
    stroke-dasharray: 0.5%;
    stroke: rgba(232, 236, 139, 0.8);
  }
  75% {
    fill: #f5ff33;
    stroke-width: 20px;
    stroke-dasharray: 0.5%;
    stroke: rgba(241, 244, 180, 0.8);
  }
  100% {
    fill: #FFD633;
    stroke-width: 18px;
    stroke-dasharray: 0.5%;
    stroke: rgba(232, 236, 139, 0.8);
  }
}
.sunbox {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 100px;
  height: 100px;
}
.sunbox .suncircle {
  animation: light 5s infinite;
  animation-delay: 0.2s;
  transition-duration: 0.5s;
  fill: #FFD633;
  stroke-width: 20px;
  stroke-dasharray: 0.5%;
  stroke: rgba(232, 236, 139, 0.8);
}

@keyframes light {
  0% {
    fill: #FFD633;
    stroke-width: 18px;
    stroke-dasharray: 0.5%;
    stroke: rgba(232, 236, 139, 0.8);
  }
  25% {
    fill: #f5ff33;
    stroke-width: 20px;
    stroke-dasharray: 0.5%;
    stroke: rgba(241, 244, 180, 0.8);
  }
  50% {
    fill: #FFD633;
    stroke-width: 18px;
    stroke-dasharray: 0.5%;
    stroke: rgba(232, 236, 139, 0.8);
  }
  75% {
    fill: #f5ff33;
    stroke-width: 20px;
    stroke-dasharray: 0.5%;
    stroke: rgba(241, 244, 180, 0.8);
  }
  100% {
    fill: #FFD633;
    stroke-width: 18px;
    stroke-dasharray: 0.5%;
    stroke: rgba(232, 236, 139, 0.8);
  }
}
.thunderbox {
  position: relative;
  width: 100px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.thunderbox .thunderlight {
  animation: thunder 0.5s infinite ease-in-out;
  animation: pop 1s infinite ease-in-out;
  fill: rgb(207, 198, 144);
  stroke: rgb(243, 219, 61);
  stroke-width: 3px;
}

@keyframes thunder {
  0% {
    fill: rgb(207, 198, 144);
    stroke: rgb(243, 219, 61);
    stroke-width: 3px;
  }
  20% {
    fill: rgb(222, 214, 167);
    stroke: rgb(243, 219, 61);
    stroke-width: 1px;
  }
  40% {
    fill: rgb(207, 198, 144);
    stroke: rgb(243, 219, 61);
    stroke-width: 3px;
  }
  75% {
    fill: rgb(222, 214, 167);
    stroke: rgb(243, 219, 61);
    stroke-width: 1px;
  }
  100% {
    fill: rgb(207, 198, 144);
    stroke: rgb(243, 219, 61);
    stroke-width: 3px;
  }
}
@keyframes pop {
  0% {
    transform: translateX(-5px);
  }
  10% {
    transform: translateX(5px);
  }
  20% {
    transform: translateX(-5px);
  }
  30% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}
.thundercloudbox {
  position: relative;
  width: 100px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.thundercloudbox .thunder-in-cloud {
  position: absolute;
  top: 20px;
  animation: thunderdrift 4s infinite;
}
.thundercloudbox .cloud-in-thunder {
  position: absolute;
  z-index: -3;
  transform: scale(0.8) translateY(-5px);
}

@keyframes thunderdrift {
  0% {
    transform: scale(0.6) translateY(0px);
  }
  50% {
    transform: scale(0.6) translateY(-20px);
  }
  100% {
    transform: scale(0.6) translateY(0px);
  }
}
.thunderrainbox {
  position: relative;
  width: 100px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.thunderrainbox .rain-in-thunder {
  position: absolute;
  transform: scale(0.8) translateY(-5px);
  opacity: 0.8;
}
.thunderrainbox .thunder-in-rain {
  position: absolute;
  z-index: -3;
  top: 20px;
  animation: thunderdrift 4s infinite;
}

@keyframes thunderdrift {
  0% {
    transform: scale(0.6) translateY(0px);
  }
  50% {
    transform: scale(0.6) translateY(-20px);
  }
  100% {
    transform: scale(0.6) translateY(0px);
  }
}
.weekbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 200px;
}
.weekbox .dayweather {
  width: calc(14.2857142857% - 5px);
  opacity: 0;
  transition: 0.5s;
}
.weekbox .dayweather h3 {
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.weekbox .dayweather .sun-in-weekweather, .weekbox .dayweather .suncloud-in-weekweather, .weekbox .dayweather .thunderrain-in-weekweather {
  transform: scale(0.5);
}
.weekbox .dayweather .cloud-in-weekweather, .weekbox .dayweather .rain-in-weekweather {
  transform: scale(0.4);
}
.weekbox .dayweather .thundersun-in-weekweather {
  transform: scale(0.6);
}

@media screen and (max-width: 1180px) {
  .weekbox {
    width: 400px;
    height: 200px;
  }
}
@media screen and (max-width: 800px) {
  .weekbox {
    width: 350px;
  }
}
.thundersunbox {
  position: relative;
  width: 100px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.thundersunbox .sun-in-thundersun {
  position: absolute;
  top: 50px;
  opacity: 0.9;
  transform: scale(0.9);
}
.thundersunbox .thunderrain-in-thundersun {
  position: absolute;
  top: 10px;
  left: 20px;
  transform: scale(0.8);
}

.temperaturebox {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
.temperaturebox svg {
  width: 600px;
  height: 240px;
}
.temperaturebox svg circle {
  fill: white;
  opacity: 0;
  transition: 0.5s;
}
.temperaturebox svg text {
  font-size: 12px;
  opacity: 0;
  fill: white;
}
.temperaturebox svg polyline {
  stroke: white;
  opacity: 0;
  fill: none;
}

@media screen and (max-width: 1180px) {
  .temperaturebox svg {
    width: 350px;
    height: 200px;
  }
}
.uvindexbox .outer {
  fill: rgba(255, 255, 255, 0);
  stroke: white;
  stroke-width: 5px;
  stroke-dasharray: 0.1 22;
  stroke-linecap: round;
  z-index: -3;
}
.uvindexbox .inner {
  fill: rgb(255, 255, 255);
}

.weekuvindexbox {
  box-sizing: border-box;
  width: 580px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  gap: 70px;
}
.weekuvindexbox .indextop {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weekuvindexbox .indextop .dayuvindex {
  width: calc(14.2857142857% - 5px);
  height: auto;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s;
}
.weekuvindexbox .indextop .dayuvindex h3 {
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.weekuvindexbox .indextop .dayuvindex .low svg .inner {
  fill: #a7cc22;
}
.weekuvindexbox .indextop .dayuvindex .low svg .outer {
  stroke: #a7cc22;
}
.weekuvindexbox .indextop .dayuvindex .moderate svg .inner {
  fill: #ffa503;
}
.weekuvindexbox .indextop .dayuvindex .moderate svg .outer {
  stroke: #ffa503;
}
.weekuvindexbox .indextop .dayuvindex .high svg .inner {
  fill: #f29801;
}
.weekuvindexbox .indextop .dayuvindex .high svg .outer {
  stroke: #f29801;
}
.weekuvindexbox .indextop .dayuvindex .veryhigh svg .inner {
  fill: #d32d1b;
}
.weekuvindexbox .indextop .dayuvindex .veryhigh svg .outer {
  stroke: #d32d1b;
}
.weekuvindexbox .indextop .dayuvindex .extreme svg .inner {
  fill: #ac4a9b;
}
.weekuvindexbox .indextop .dayuvindex .extreme svg .outer {
  stroke: #ac4a9b;
}
.weekuvindexbox .indextop .dayuvindex p {
  text-align: center;
  font-size: 10px;
  color: #fff;
}
.weekuvindexbox .indexbottom {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}
.weekuvindexbox .indexbottom .indexdescription {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weekuvindexbox .indexbottom .indexdescription table {
  color: #fff;
  width: 400px;
  border-spacing: 30px 0px;
}
.weekuvindexbox .indexbottom .indexdescription table tr td {
  text-align: center;
  font-size: 12px;
  opacity: 0;
  transition-duration: 2s;
}
.weekuvindexbox .indexbottom .indexdescription table tr td .low svg .inner {
  fill: #a7cc22;
}
.weekuvindexbox .indexbottom .indexdescription table tr td .low svg .outer {
  stroke: #a7cc22;
}
.weekuvindexbox .indexbottom .indexdescription table tr td .moderate svg .inner {
  fill: #ffa503;
}
.weekuvindexbox .indexbottom .indexdescription table tr td .moderate svg .outer {
  stroke: #ffa503;
}
.weekuvindexbox .indexbottom .indexdescription table tr td .high svg .inner {
  fill: #f29801;
}
.weekuvindexbox .indexbottom .indexdescription table tr td .high svg .outer {
  stroke: #f29801;
}
.weekuvindexbox .indexbottom .indexdescription table tr td .veryhigh svg .inner {
  fill: #d32d1b;
}
.weekuvindexbox .indexbottom .indexdescription table tr td .veryhigh svg .outer {
  stroke: #d32d1b;
}
.weekuvindexbox .indexbottom .indexdescription table tr td .extreme svg .inner {
  fill: #ac4a9b;
}
.weekuvindexbox .indexbottom .indexdescription table tr td .extreme svg .outer {
  stroke: #ac4a9b;
}

@media screen and (max-width: 1180px) {
  .weekuvindexbox {
    width: 400px;
    gap: 40px;
    justify-content: center;
  }
  .weekuvindexbox .indextop .dayuvindex p {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .weekuvindexbox {
    width: 350px;
    gap: 30px;
  }
}
.moonbox {
  position: relative;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.moonbox .circle {
  position: relative;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  box-shadow: inset -13px -13px #fff, inset -20px -20px 20px -10px gray, 10px 10px 20px -10px gray, -3px 10px 20px -8px gray, 10px -5px 20px -10px gray;
  border-radius: 50%;
  background: #0F044C;
  transform: rotate(90deg);
}

.mooncloudbox {
  position: relative;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
}
.mooncloudbox .moon-in-mooncloud {
  position: absolute;
  top: 35px;
  left: 30px;
}
.mooncloudbox .cloud-in-mooncloud {
  position: absolute;
  top: 70px;
  opacity: 0.9;
}
.mooncloudbox .cloud-in-mooncloud .circle {
  background: #BEBEBE;
}

.moonrainbox {
  position: relative;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
}
.moonrainbox .moon-in-moonrain {
  position: absolute;
  top: 35px;
  left: 30px;
}
.moonrainbox .rain-in-moonrain {
  position: absolute;
  top: 70px;
  opacity: 0.9;
}
.moonrainbox .rain-in-moonrain .circle {
  background: #BEBEBE;
}

.thundermoonbox {
  position: relative;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
}
.thundermoonbox .moon-in-thundermoon {
  position: absolute;
  top: 35px;
  left: 30px;
}
.thundermoonbox .thunder-in-thundermoon {
  transform: scale(1.3);
  position: absolute;
  top: 70px;
  opacity: 0.9;
}
.thundermoonbox .thunder-in-thundermoon .circle {
  background: #BEBEBE;
}/*# sourceMappingURL=style.css.map */