html,body
    margin: 0
    padding: 0
    box-sizing: border-box
    
.weatherArea
    width: auto
    display: flex
    flex-wrap: wrap

.about
    padding: 50px 0px
    width: 100%
    height: 70vh
    background-color: #0F044C
    color: #fff
    h1
        text-align: center
    h3
        text-align: center

.nopages
    width: 100%
    height: 85vh
    background-color: #0F044C
    color: #fff
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    h1
        text-align: center
        font-size: 50px
        margin: 0
        margin-bottom: 10px
    p
        text-align: center
        font-size: 36px
        margin: 0

@import "./_footer"
@import "./_layout"
@import "./_weather"
@import "./_option"
@import "./_cloud"
@import "./_rain"
@import "./_suncloud"
@import "./_sun"
@import "./_thunder"
@import "./_thundercloud"
@import "./_thunderrain"
@import "./_weekweather"
@import "./_thundersun"
@import "./_weektemperature"
@import "./_uvindex"
@import "./_weekuvindex"